{
    "semi": false,
    "tabWidth": 2,
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "es5",
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "importOrder": ["^[./]", "^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": false
}
