.root {
  padding: 20px;

  &__imageContainer {
    display: grid;
    grid-template-columns: repeat(5, 225px);
    gap: 48px;
    justify-content: center;

    @media (width <= 1600px) {
      grid-template-columns: repeat(4, 225px);
    }

    @media (width <= 1300px) {
      grid-template-columns: repeat(3, 225px);
    }

    @media (width <= 900px) {
      grid-template-columns: repeat(2, 225px);
    }

    @media (width <= 600px) {
      grid-template-columns: repeat(1, 225px);
    }
  }

  &__loadMore {
    padding: 20px;
    text-align: center;
  }
}
